<%- include("partials/header") %>

    <h2 class="section-title">
        <%= title %>
    </h2>

    <div class="products">

        <% products.forEach(product=> { %>
            <div class="product-card">

                <% if(product.badge){ %>
                    <span class="badge <%= product.badgeClass %>">
                        <%= product.badge %>
                    </span>
                    <% } %>

                        <img src="<%= product.image %>" alt="<%= product.name %>">

                        <h3>
                            <%= product.name %>
                        </h3>
                        <p class="price">₹<%= product.price %>
                        </p>

                        <button class="btn-cart" data-name="<%= product.name %>" data-price="<%= product.price %>"
                            data-image="<%= product.image %>">
                            Add to Cart
                        </button>

            </div>
            <% }) %>

    </div>

    <%- include("partials/footer") %>